<%= form_for @album, :html => {  multipart: true } do |f| %>

      <%= f.label :title  %>

        <%= f.text_field :title  %>



      <%= f.label :description%>

        <%= f.text_field :description %>




      <%= f.label :pictures %>


        <%= file_field_tag "images[]", type: :file, multiple: true %>

      <%= f.submit  %>

    </div>
<% end %>
